/* Desktop */
.avatar {
  border-radius: 50%;
  width: 23%;
  height: 8%;
  margin: 0 0px 0 5px;
  cursor: pointer;
}

.wrapper {
  position: relative;
  display: inline-block;
}

.online-status {
  position: absolute;
  top: 28px;
  left: 30px;
  border-radius: 50%;
  font-size: 80%;
  background-color: #7fcd22;
  color: #fff;
  padding: 0px;
  width: 0.6rem;
  height: 0.6rem;
  border: 1px solid #fff;
}

/* Smartphone */
@media (max-width: 500px) {
  .avatar {
    width: 31%;
  }
}
