.wrapper {
  position: relative;
  display: inline-block;
}

.comments-count {
  position: absolute;
  top: -4px;
  right: 5px;
  border-radius: 50%;
  font-size: 80%;
  background-color: #3f2ba4;
  color: #fff;
  padding: 1px;
  width: 0.9rem;
  height: 0.9rem;
}

.comments-count span {
  padding: 3px;
}
