/* Desktop */
.contact-info {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  background-color: rgb(255, 255, 255);
  border-top: 1px solid rgb(233, 233, 233);
  border-bottom: 1px solid rgb(233, 233, 233);
  border-image: initial;
  border-left: 0px;
  border-right: inherit;
  position: relative;
}

.contact-better {
  width: 100%;
  height: 100%;
}

.more-info {
  width: 100%;
  background-color: rgb(255, 255, 255);
}

.person-info {
  display: flex;
  margin-top: 50px;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.pencil {
  font-size: 16px;
  color: rgb(45, 52, 70);
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  padding: 0px;
  border: 1px solid rgb(233, 233, 233);
  margin-left: -1px;
  margin-right: inherit;
  cursor: pointer;
  border-radius: 0px;
}

.pencil:hover {
  color: rgb(68, 130, 255);
}

.close {
  font-size: 16px;
  color: rgb(45, 52, 70);
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  padding: 0px;
  border: 1px solid rgb(233, 233, 233);
  margin-left: -1px;
  margin-right: inherit;
  cursor: pointer;
  border-radius: 0px;
}

.close:hover {
  color: rgb(68, 130, 255);
}

.check {
  font-size: 16px;
  color: rgb(45, 52, 70);
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  padding: 0px;
  border: 1px solid rgb(233, 233, 233);
  margin-left: -1px;
  margin-right: inherit;
  cursor: pointer;
  border-radius: 0px;
}

.check:hover {
  color: rgb(68, 130, 255);
}

.add-new-user-btn {
  cursor: pointer;
  text-transform: uppercase;
  background-color: rgb(68, 130, 255);
  color: #fff;
  border: 0px;
  height: 30px;
  padding: 0px 15px;
  margin-left: auto;
  margin-right: inherit;
  border-radius: 3px;
}

.add-new-user-btn:hover {
  background-color: rgb(44, 110, 243);
}

.buttons {
  display: flex;
  padding: 35px;
}

.add-contact-wrapper {
  display: flex;
  padding: 0 30px;
  height: 80%;
}

.image-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 120px;
  margin-right: 50px;
  align-items: center;
}

.contacts-inputs {
  width: 100%;
  padding: 0 15px;
  font-size: 14px;
  color: rgb(151, 151, 151);
  height: 36px;
  margin: 0;
  border: 1px solid rgb(233, 233, 233);
  background: rgb(255, 255, 255);
  border-radius: 3px;
  font-weight: 400;
  opacity: 0.7;
}

.contacts-inputs:focus {
  outline-color: rgb(68, 130, 255);
}

.notes {
  width: 100%;
  font-size: 14px;
  color: rgb(151, 151, 151);
  margin: 0;
  border: 1px solid rgb(233, 233, 233);
  background: rgb(255, 255, 255);
  border-radius: 3px;
  font-weight: 400;
  opacity: 0.7;
  height: 210px;
  padding: 15px;
}

.notes:focus {
  outline-color: rgb(68, 130, 255);
}

.inputs-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.contact-wrapper {
  display: flex;
  width: 100%;
  align-items: baseline;
  margin-bottom: 15px;
}

.contact-wrapper label {
  font-size: 14px;
  font-weight: 500;
  color: rgb(50, 51, 50);
  line-height: 1.5;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 15px;
  margin-left: inherit;
  text-align: left;
  min-width: 80px;
  position: relative;
}

.submitBtn {
  cursor: pointer;
  text-transform: uppercase;
  background-color: rgb(68, 130, 255);
  color: #fff;
  border: 0px;
  height: 30px;
  padding: 0px 15px;
  margin-left: auto;
  margin-right: inherit;
  border-radius: 3px;
}

.submitBtn:hover {
  background-color: rgb(44, 110, 243);
}

.submitBtn-disabled {
  cursor: pointer;
  text-transform: uppercase;
  background-color: rgb(157, 178, 221);
  color: #fff;
  border: 0px;
  height: 30px;
  padding: 0px 15px;
  margin-left: auto;
  margin-right: inherit;
  border-radius: 3px;
}

.error {
  color: #ff0000;
  margin-left: 15px;
  font-size: 8pt;
  text-align: center;
}

/* Smartphone */

@media (max-width: 500px) {
  .person-info {
    display: none;
  }
  .more-info {
    width: auto;
  }
  .main-content {
    width: 325px;
  }
  .add-new-user-btn {
    height: 35px;
  }
}
