/* Desktop */
.contact-info {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  background-color: rgb(255, 255, 255);
  border-top: 1px solid rgb(233, 233, 233);
  border-bottom: 1px solid rgb(233, 233, 233);
  border-image: initial;
  border-left: 0px;
  border-right: inherit;
  position: relative;
}

.contact-better {
  width: 100%;
  height: 100%;
}

.more-info {
  width: 90%;
  padding: 30px;
  background-color: rgb(255, 255, 255);
}

.person-info {
  display: flex;
  margin-top: 50px;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.pencil {
  font-size: 16px;
  color: rgb(45, 52, 70);
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  padding: 0px;
  border: 1px solid rgb(233, 233, 233);
  margin-left: -1px;
  margin-right: inherit;
  cursor: pointer;
  border-radius: 0px;
}

.pencil:hover {
  color: rgb(68, 130, 255);
}

.close {
  font-size: 16px;
  color: rgb(45, 52, 70);
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  padding: 0px;
  border: 1px solid rgb(233, 233, 233);
  margin-left: -1px;
  margin-right: inherit;
  cursor: pointer;
  border-radius: 0px;
}

.close:hover {
  color: rgb(68, 130, 255);
}

.add-new-user-btn {
  cursor: pointer;
  text-transform: uppercase;
  background-color: rgb(68, 130, 255);
  color: #fff;
  border: 0px;
  height: 30px;
  padding: 0px 15px;
  margin-left: auto;
  margin-right: inherit;
  border-radius: 3px;
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

.add-new-user-btn:hover {
  background-color: rgb(44, 110, 243);
}

.buttons {
  display: flex;
}

/* Smartphone */

@media (max-width: 500px) {
  .person-info {
    display: none;
  }
  .more-info {
    width: auto;
  }
  .main-content {
    width: 325px;
  }
  .add-new-user-btn {
    height: 35px;
  }
}
