/* Desktop */

.section {
  height: 979px;
}

.wrapper {
  padding: 70px 0px 0px 240px;
  flex-shrink: 0;
  background: rgb(241, 243, 246);
  position: relative;
}

/* Shrinked styles */

.shrinked-wrapper {
  padding: 70px 0px 0px 80px;
  flex-shrink: 0;
  background: rgb(241, 243, 246);
  position: relative;
}
